<body>

<span>방제목: 금오공대 기숙사 치킨 먹을사람?&nbsp; &nbsp;  </span> <span>인원수_현재인원/최대인원</span>
<div> 일시: 555555~66666</div>
<span> 유저이름: 주현규&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span> <span> 카카오톡ID = 00000000</span>
<br>
<br>
<div>설명창</div>
<div style="
    BORDER: SOLID 1px;
    width: 500px;
    height: 300px;
">
  금오공대 기숙사 
</div>
<br>
<div>
  <input type="hidden" value="j" name = "hidden_personal_coment_count">
<span>김연웅</span><span>kakaoID가 들어갈 자리</span>
<form action='/addcoment' method='post'>
  <input type="hidden" value="i" name = "hidden_mother">
참여자:<input type="text" name="input_user">카카오톡ID<input type='text' name='input_kakao'> <button>참가하기</button>
</form>
</div>
</body>